<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
	<link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
	<div class="login-form">
		<h1>Login</h1>
		<form action="" method="post">
			{% csrf_token %}
		  <input type="text" placeholder="Full Name" name="username" />
		  <input type="password" placeholder="Password" name="password" />
		  <input type="submit" value="Login">
		  {% if error %}
		  	<p class="error-message">{{message}}</p>
		  {% endif%}
		  <a href="{% url 'users:sign' %}">Create Account</a>
		</form>
	  </div>
</body>
</html>